.main-wrapper {
  width: 1020px;
  margin: auto;
  font-size: 0;
  margin-top: 12px;
  /* 消除由回车键带来的3像素间距  （是3像素还是几像素来着，记不清 = =） */
}

.section-main {
  display: inline-block;
  width: 676px;
  font-size: 14px;
  vertical-align: top;
}

.my-aside {
  display: inline-block;
  width: 332px;
  margin-left: 12px;
  font-size: 14px;
  vertical-align: top;
}

.section-article {
  padding: 20px 25px 25px 25px;
}

.article-title {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* 知识点：左边固定，右边填满剩余的空间 */
/* 知识点：垂直居中 */
.author-wrapper {
  height: 45px;
  line-height: 45px;
}
.img-wrapper {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.author-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info-wrapper {
  overflow: hidden;
  padding-left: 10px;
  line-height: 1;
  vertical-align: middle;
}

.info-wrapper .name {
  font-size: 14px;
  font-weight: bold;
  color: #666;
}

.btn-follow {
  height: 20px;
  line-height: 20px;
  width: auto;
  padding: 0 10px;
  border: 1px solid #fa7199;
  color: #fa7199;
  background: #fff;
  border-radius: 10px;
  margin-left: 16px;
}

.info-wrapper .row-time {
  color: #999;
  margin-top: 10px;
}

.article-content {
  margin-top: 20px;
}

.article-content p{
    font-size: 14px;
    color: #333;
    line-height: 1.7;
    margin-top: 20px;
}
