.main-wrapper {
  width: 1020px;
  margin: auto;
  font-size: 0;
  margin-top: 12px;
  /* 消除由回车键带来的3像素间距  （是3像素还是几像素来着，记不清 = =） */
}

.section-main {
  display: inline-block;
  width: 676px;
  font-size: 14px;
  vertical-align: top;
}

.my-aside {
  display: inline-block;
  width: 332px;
  margin-left: 12px;
  font-size: 14px;
  vertical-align: top;
}

/* 文章 */
.section-article {
  padding: 20px 25px 25px 25px;
}

.article-title {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* 知识点：左边固定，右边填满剩余的空间 */
/* 知识点：垂直居中 */
.author-wrapper {
  height: 45px;
  line-height: 45px;
}
.img-wrapper {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.author-avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.info-wrapper {
  overflow: hidden;
  padding-left: 10px;
  line-height: 1;
  vertical-align: middle;
}

.info-wrapper .name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.btn-follow {
  height: 20px;
  line-height: 20px;
  width: auto;
  padding: 0 10px;
  border: 1px solid #fa7199;
  color: #fa7199;
  background: #fff;
  border-radius: 10px;
  margin-left: 16px;
}

.info-wrapper .row-time {
  color: #999;
  margin-top: 10px;
}

.article-content {
  margin-top: 20px;
}

.article-content p {
  font-size: 14px;
  color: #333;
  line-height: 1.7;
  margin-top: 20px;
}

/* 评论 */
.section-comment {
  margin-top: 12px;
  padding: 35px 25px 35px 35px;
}

.avatar-wrapper {
  float: left;
  width: 40px;
  height: 40px;
}

.avatar-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment-input-wrapper {
  overflow: hidden;
  padding-left: 12px;
}

.input-comment {
  padding: 10px;
  height: 60px;
  resize: none;
  color: #333;
}

.row-btn {
  text-align: right;
  margin-top: 10px;
}

.cute-btn-small {
  border-radius: 3px;
  border: 1px solid #fb7299;
  border-radius: 20px;
  padding: 3px 10px;
  background: #fb7299;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 12px;
}

.cute-btn-gray-plain {
  border: 1px solid #999;
  background: #fff;
  color: #999;
}

.btn-cancel {
  margin-left: 10px;
}

/* 评论列表 */
.comment-list {
  padding-left: 20px;
  margin-top: 25px;
}

.comment-item {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment-avatar {
  float: left;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.comment-main {
  padding-left: 35px;
}
.row-name {
  margin-bottom: 5px;
}

.row-time {
  margin-bottom: 7px;
  color: #999;
}

/* 侧边推荐位 */
.section-aside {
  margin-bottom: 12px;
  padding: 20px;
}

.section-aside-author .author-wrapper {
  margin-bottom: 16px;
}

.author-line {
  border: none;
  height: 1px;
  background: #eee;
}

.recommend-list {
  margin-top: 15px;
}

.section-recommend-title {
  border-left: 4px solid #fa7199;
  padding-left: 6px;
  font-size: 14px;
  font-weight: bold;
}

.recommend-item {
  margin-bottom: 12px;
}

.recommend-item h4 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.6;
}

.recommend-item .time {
  color: #999;
  margin-top: 5px;
  font-size: 12px;
}
